body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: salmon;
}

h1{
    font-family: sans-serif;
    font-size: 20rem;
    margin:auto;
}

.letter{
    transition: color 1500ms;
}